<%= partial(:header) %>

<h1>Tomorrow is the future</h1>
<p>When I was 15, in the height of the Dot-Com boom, I kept hearing about young people starting companies, making interesting things and raising millions in funding. Yet, I had no idea how these things happened. Did venture capital come from a bank? Everyone I knew worked for established companies in offices, factories, for local government and other more traditional careers. Although skilled in technology, I didn't know what an interesting career in technology looked like. Young people of the future need to know about their options.</p>
	
<h2>Education Edition</h2>
<p>A special edition of the documentary tailored to middle and high school classrooms will be made available. This shorter and more concise edition will focus on the career possibilities and aim to inspire students to pursue careers in technology and startups. It will be made available (as will the standard edition) under a Creative Commons license, so educators will not have a cost barrier or licensing worries blocking them from showing the documentary.</p>
<%= partial(:footer)%>