<%= partial(:header) %>
<div class="container">
  <!-- Main hero unit for a primary marketing message or call to action -->

    <h1>Great minds</h1>
    <p>I've been in touch with some of the best people in startups. Below you'll find a partial list of tentative interviewees.</p>


<ul>
	<li>Alexis Ohanian</li>
	<li>Dan Bricklin</li>
</ul>
<%= partial(:footer)%>